@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*,*::before,*::after{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;;
}

.container{
    max-width: 1024px;
    max-height: 768px;
    margin: 0 auto;
}

.block{
    width: 481px;
    height: 392px;
    display: inline-block;
    margin: 0;
    background-color: #F7F5F9;
    border-radius: 12px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
    margin: 31px 271px 345px 272px;
}

.title{
    margin-top: 40px;
    margin-left: 40px;
    height: 20px;
    width: 168px;
    color:  #3B3D43;
    font-weight: 700;
    font-size: 24px;
}

.text_area{
   max-width: 401px;
}

.feedback{

}

.feedback_group{
    margin-bottom: 25px;
    margin-left: 40px;
    border: 401px 48px;
    display: block;

}

.input{
    width: 401px ;
    height: 48px;
    background: #ffffff;
    border: #ffffff 1px;
    box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
    border-radius: 6px;
    font-weight: 400;
    font-size: 15px;
    padding: 14px 35px 14px 15px;
    color: #000000;
    
    
}
.input:hover{
    border: 1px solid #854FC8;    
}

.input:focus{
    border: 1px solid #854FC8;
}

::-webkit-input-placeholder{
    color: #D0C9D6;
}
:-moz-placeholder{ 
    color: #D0C9D6;
}
::-moz-placeholder{
    color: #D0C9D6;
}
:-ms-input-placeholder{
    color: #D0C9D6;
}

.btn{
    min-width: 401px;
    height: 48px;
    margin-bottom: 40px;
    margin-left: 40px;

    
    display: inline-flex;
    color: #ffffff;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 17px;
    font-weight: 400;
    background-color: #6979F8;
    border-radius: 6px;
    
    transition: background-color .2s ease;
    cursor: pointer;
    outline: 0;
    border: 0;

}
.btn:hover{
    background-color: #aeb7f9;
}